

<div class="row top-buffer-big">
	<div class="col-md-12">
		<div class="well">
			<h3>Edit <%= @collection.name %> collection</h3>
		
	
	
			<%= render 'form' %>
	
	
			<div class="row top-buffer-big">
				<div class="col-md-12">
					<%= link_to 'View Collection', @collection %> |
					<%= link_to 'Manage Photos', collections_path %>
				</div>
			</div>
		</div>
	</div>
</div>