
<div class="row">
	<div class="col-md-12">
		<div class="well well-lg">
			<h3> Cart Items</h3>
			<div class="row">
				<div id="show_cart_container" class="col-md-12">
					<%= render 'show_cart'%>
				</div>
				
			</div>
			
			
			<div class="row">
				<div class="col-md-12">
					<%= link_to "Keep Shopping", PhotoPrintOption.find(@shopping_cart.shopping_cart_items.first.item_id).photo , class: "horz-padding"%> |
					
					<% if Rails.env.production? %>
						<%= link_to "Continue to Checkout", 
							checkout_url(host: "beyondtheprecipice.herokuapp.com",
										 port: nil,
										 protocol: "https",
										 scid: @shopping_cart.id),
										{class: "horz-padding"} %>
					<%else%>
						<%= link_to "Continue to Checkout", checkout_url(scid: @shopping_cart.id),{class: "horz-padding"}  %>
					<%end%>
				</div>
				
			</div>
			
		</div>
		
		
		
	</div>
</div>
