
	<div id="carousel-example-generic" class="carousel carousel-fade slide" id="welcome-carousel">
    <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	  
    	<% Photo.slideshow.each_with_index do |photo, index|%>
	      	<div class="item <%= "active" if index == 0%>"><!-- class of active since it's the first item -->
	      		  <%= image_tag photo.photo_file.url() %>
			      <div class="carousel-caption">
			        <p></p>
			      </div>
	    	</div>
    	<%end%>  	
	  </div>
	</div>

	<div id="welcome-menu">
		<h2>
			Some bullshit about how great your photography is.
		</h2>
		<p>
			I just love going out to hike and taking pictures.
			You should really suck my cock for it.
		</p>
		<h3>
			<%= link_to "Home", root_url%>
		</h3>
		<h3>
			<%= link_to "Manage Photos", collections_path %>
		</h3>
	</div>

