<div class="row">
	<div class="col-md-12">
		<div id="carousel-wrapper">
				
			<div class="carousel carousel-fade slide" id="home-carousel">
			<!-- Wrapper for slides -->
			  <div class="carousel-inner">
			  
				<% Photo.slideshow.each_with_index do |photo, index|%>
			      	<div class="item <%= "active" if index == 0%>"><!-- class of active since it's the first item -->
			      		  <%= image_tag photo.photo_file.url(:large), class: "slide-border img-rounded maximize_size", height: "400", width:"600" %>
					      <div class="carousel-caption text-center top-buffer">
					        <p>
					        	<%= link_to photo.name, photo_path(photo)%>
					        </p>
					      </div>
			    	</div>
				<%end%>  	
			  </div>
			</div>
		</div>
	</div>
</div>