<div class="row top-buffer-big">
	<div class="col-md-6 ">
		<h3>
			Print Options and Prices
		</h3>
		<div>
			Please read below for a more detailed description of each option.
		</div>
		<table class="table  table-bordered">
			<thead>
				<th>Print Description</th>
				<th>Price</th>
			</thead>
			<tbody>
				<tr>
					<td>Print Only: 20" x 30"</td>
					<td>$145</td>
				</tr>
				<tr>
					<td>Gallery Canvas (unframed): 20" x 30"</td>
					<td>$295</td>
				</tr>
				<tr>
					<td>Framed Gallery Canvas: 20" x 30"</td>
					<td>$345</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row top-buffer-big">
	<div class="col-md-6 ">
		<div class="lead">Canvas prints are available framed or unframed.</div>
		These GORGEOUS canvas prints are printed, 
		stretched and framed right here in beautiful Boulder, Colorado!  
	</div>
</div>	

<div class="row">
	<div class="col-md-12 ">
		<image src="http://s3.amazonaws.com/beyondtheprecipice/site_photos/photo_files/000/000/009/large/IMG_2858.jpg?1392404552"  
		 class="img-rounded photo-border"
		width="550"/>
	</div>
</div>

<div class="row top-buffer-big">
	<div class="col-md-6 ">
		<p class="lead top-buffer-big">
			Recycled Materials
		</p>
		Gallery canvases (1 1/4" thick) and framed gallery canvases (1 1/2" thick) 
		are made of recycled materials, 
		making them incredibly strong, lightweight, durable, eco-friendly and resistant to warping. 
	</div>
</div>
	
<div class="row">
	<div class="col-md-12 ">
		<image src="http://s3.amazonaws.com/beyondtheprecipice/site_photos/photo_files/000/000/002/large/CGProPrintsCanvases.jpeg?1392378116"  
		 class="img-rounded photo-border"
		width="700"/>
	</div>
</div>


<div class="row top-buffer-big">
	<div class="col-md-6 ">
		<p class="lead top-buffer-big">
			Premium Quality
		</p>
		Clear acrylic coating provides satin lustre finish with exceptional UV, 
		fade and scratch resistance.  
		Eight color inkjet printing provide deep contrast and extraordinarily vibrant colors. 
	</div>
</div>
	
<div class="row">
	<div class="col-md-12 ">
		<image src="http://s3.amazonaws.com/beyondtheprecipice/site_photos/photo_files/000/000/024/large/canvasdetail.jpg?1392412073"  
		 class="img-rounded photo-border"
		width="700"/>
	</div>
</div>

<div class="row top-buffer-big">
	<div class="col-md-6 ">
		<p class="lead top-buffer-big">
			Perfect Corners
		</p>
		No bulge.  Tightly wrapped, professional finish. 
	</div>
</div>
	
<div class="row">
	<div class="col-md-12 ">
		<image src="http://s3.amazonaws.com/beyondtheprecipice/site_photos/photo_files/000/000/001/large/canvascorner.jpg?1392378083"  
		 class="img-rounded photo-border"
		width="700"/>
	</div>
</div>
	
<div class="row top-buffer-big">
	<div class="col-md-6 ">
		<p class="lead top-buffer-big">
			Ready to hang
		</p>
		Perfectly clean, finished back. 
		No staples.  
		Every gallery wrap comes with a sturdy, 
		black backer board. 
		Hanging hardware is pre-installed. 
	</div>
</div>
	
<div class="row">
	<div class="col-md-12 ">
		<image src="http://s3.amazonaws.com/beyondtheprecipice/site_photos/photo_files/000/000/021/large/canvasbacking.jpg?1392411973"  
		 class="img-rounded photo-border"
		width="700"/>
	</div>
</div>

<div class="row top-buffer-big">
	<div class="col-md-6 ">
		<p class="lead top-buffer-big">
			Durable
		</p>
		Your canvas will always look as tight and flat as the day it was made.
		Every frame is built with a solid face to support the canvas 
		and keep it from deforming and loosening.  
	</div>
</div>
	
<div class="row">
	<div class="col-md-12 ">
		<image src=http://s3.amazonaws.com/beyondtheprecipice/site_photos/photo_files/000/000/044/large/quality.png?1392571341  
		 class=""
		width="200"/>
	</div>
</div>
	
	<div class="col-md-12">
		
	</div>
	<div class="col-md-12">
		
	</div><div class="col-md-12">
		
	</div>




<div class="col-md-12  top-buffer">
	<div class="row">
		<div class="">
			<%= raw AdditionalContent.first.prints_and_pricing if AdditionalContent.first.present? %>
		</div>
	</div>
	
</div>
