<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    
    <p>
      <b>From:</b>
      <%= @email.from%>
    </p>
    <% if @email.cc.present? %>
    <p>
    	<b>cc:</b>
    	<%= @email.cc%>
    </p>
    <%end%>
    
    <p>
      <%= @body%>
    </p>
    
  </body>
</html>