<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is forwarded</h1>
    <p>
      this is the body:
      <%= @body%>
    </p>
    
  </body>
</html>