<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body bgcolor="#dddddd">
    <h1>Email Test</h1>
    <p>
      Trout.  This email was sent using SendGrid.com.
      
      I've made some (free) changes to your GoDaddy account, which should allow anything sent to Michael@BeyondThePrecipice.com
      to be forwarded on to my web application.  The changes take some time to take effect, so I haven't been able to test this yet.
      It should be possible to use Michael@BeyondThePrecipice.com as your email address, without having to pay
      anything extra.  Stay tuned!
    </p>
    <img src="<%= SitePhoto.find_by_name("Watermark White High Res").photo_file.url(:original)%>" style="width: 250px" />
    
  </body>
</html>