<div class="col-md-12  top-buffer">
	<div class="row">
		<div class="well">
			  <h3>Oops! We're sorry.</h3> 
			  <p>
			    Something went wrong and we've been notified of the problem.
			    
			    If you have any questions or concerns, please send an email to 
			    Michael@BeyondThePrecipice.com
			  </p>
			  
			  <p>
			  	You can try going back to our
			    <%= link_to "Home", root_url%>
			     page.
			  </p>
			    
		</div>
	</div>
	
</div>
