@font-face { 
  font-family: 'Penshurst'; 
  src: font-url('penshurst.eot'); 
  src: font-url('penshurst.eot?#iefix') format('embedded-opentype'), 
       font-url('penshurst.svg#Penshurst') format('svg'), 
       font-url('penshurst.woff') format('woff'), 
       font-url('penshurst.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal;
}
