/**
 @import url(https://fonts.googleapis.com/css?family=Arbutus+Slab);
**/

#bg-container {
 position: fixed;
 top: 0px;
 bottom: 0px;
 z-index: -10; 
 padding: 0px;
 width: 100%;
}

#top_links_container {
  padding-top: 10px;
}


#sidebar {
 // border: 1px solid red;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  //display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #000;
}

.fixed {
  position:fixed;
}



#main{
  //border: 1px solid green;
 padding-left: 20px;

}


.main-padding{
   padding-left: 20px;
}



#background_image_container {
  position:fixed;
  //top:0px;
  //left: 0px;
  width: 100%;
  height: 100%;
  background-color: #000;
  
  z-index: -1;  
  img {
  
    width: 100%;
    height: 100%;
  }
}


#spinner {
  text-align: center;
  width: 100%;
  z-index: 100;
  position: absolute;
}