.top-buffer { margin-top:15px; }

.horz-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  width: 100%;
}


.without-margin {
  margin: 0px;
}

.without-border {
  border: none;
}

.photo-border{
  border: 1px solid #aaa;
  border-radius: 7px;
  padding: 3px;
}

.slide-border{
  border:  solid #333;
  border-width: 3px 4px;
  border-radius: 0px;
  padding: 2px;
}



.classy-text {
  font-family: "Times New Roman";
  font-weight: normal;
}

.punched-text {
  color: #DDD;
}

.top-buffer-big {
  margin-top: 25px;
}



.text-white {
  color: #FFF; 
}

ul.sortable {
  list-style-type:none;
}


ul.sortable-grid li {
  //float: left;
  display: inline-block;
  margin: 10px;
  width: 175px;
  padding: 10px;
  border: 1px solid #333;
  background-color: #000;
}

.sortable-list-item {
  border: 1px solid #333;
  background-color: #000;
  height: 100px;
}


.free-shipping {
  padding-left: 30px;
  line-height: 16px;
  font-size: 10pt;
  margin-top: 0px;
}





