@import "bootstrap";


.foo {
  border: 1px solid red;
}

body {
  
  background-color: #000;
}

#top_image {
  position:fixed;
  top:0px;
  left: 0px;
  width: 100%;
  //height: 390px;
  z-index: -1;
  margin-left: 160px;
  
  img {
    width: 100%;
  }
  
}


#navigation_menu {
  
  background-color: #272b30;
  background: asset_url("grad-1.png") repeat-y;
  max-width: 200px;
  position: fixed;
  top: 0px;
  left: 0px;
  
  z-index: 100;
  
  div{
    padding:15px;  
  }  
}


.top-buffer { margin-top:15px; }

.horz-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  width: 100%;
}

body {
  padding-bottom: 100px;
}


.without-margin {
  margin: 0px;
}
.inline_override {
 display: inline-block; 
}

.table_cell {
  display: table-cell;
}
 
#welcome-carousel{
  margin-top: 0px;
  
  /*
  position:absolute;
  top:0;
  left: 0;
  z-index: 1;
 */
  

}

#welcome-menu {
  position: absolute;
  //border: 2px solid red;
  top: 0;
  left: 0;
  //width: 200px;
  //height:500px;
  z-index: 2;
  padding-top: 100px;
  padding-left: 20px;
}


.carousel .item {
    //width: 100%; /*slider width*/
    //height: 500px; /*slider height*/
}
.carousel .item img {
    //width: 100%; /*img width*/
}

#spinner {
  text-align: center;
  width: 100%;
  z-index: 100;
  position: absolute;
}

.photo-border{
  border: 1px solid #aaa;
  border-radius: 7px;
  padding: 3px;
}

.slide-border{
  border:  solid #333;
  border-width: 3px 4px;
  border-radius: 0px;
  padding: 2px;
}

.breadcrumb {
  background: none;
  border: none;
}


.well-transparent {
  background: rgba(28, 30, 34, .6);
}

.classy-text {
  font-family: "Times New Roman";
  font-weight: normal;
}

.punched-text {
  color: #DDD;
}

.top-buffer-big {
  margin-top: 25px;
}

label.error {
  @extend .text-danger;
}

.text-white {
  color: #FFF; 
}

ul.sortable {
  list-style-type:none;
}


ul.sortable-grid li {
  //float: left;
  display: inline-block;
  margin: 10px;
  width: 175px;
  padding: 10px;
  border: 1px solid #333;
  background-color: #000;
}

.sortable-placeholder {
  border: 1px dashed #888;
  width: 175px;
  height: 110px;
}
