<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><%= link_to "Manage Photos", collections_path%></li>
      <li><%=link_to "Print Options", print_options_path%></li>
      
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      
      <li>
      	<%= link_to("#{current_admin.email} sign out", destroy_admin_session_path, :method => :delete) if admin_signed_in? %>
      </li>
     
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>