<div id="navigation_menu">
	<h2>
		Some bullshit about how great your photography is.
	</h2>
	<p>
		I just love going out to hike and taking pictures.
		You should really suck my cock for it.
	</p>
	<h5>
		
	</h5>
	<h5>
		
	</h5>
	 
	<div class="">
		<p>
			<%= link_to "Home", root_url, class:""%>	
		</p>
		<p>
			<%= link_to "Admin - Manage Photos", collections_path, class:"" %>
		</p>
		
			
		<% Collection.all.each do |collection|%>
			<p>
				<strong>
				<%= link_to collection.name, collection, class:"" %>
			</strong>
			</p>
			
		<%end%>
	</div>
	
	
</div>