<ul class="nav visible-xs" id="menu-xs">          
    <li class="logo-image-nav">
        <%= link_to root_url, class:"logo-image-link" do%>	
			<%= image_tag 'logo.png', class:"logo-image"%>
		<%end%>
    </li>
    
    <li class="top-buffer-big" >
		<a class="pull-left">
		<span id="show_menu" class="glyphicon glyphicon-list"></span>
		</a>
	</li>
</ul>